$white: #fff;

$blue: #5d89b4; //default blue
$blue-5: #f8f8fa;
$blue-10: #f0f2f6;
$blue-11: #f0f2f7;
$blue-12: #edf0f5;
$blue-15: #e8ecf3;
$blue-20: #e0e6ef;
$blue-25: #dbe3ee;
$blue-30: #cfdae7;
$blue-40: #c0cee0;
$blue-50: #afc2d9;
$blue-60: #a0b7d1;
$blue-70: #90abca;
$blue-80: #5889b5;
$blue-90: #6f95bb;

$blue-facebook: #3d5a93;
$blue-twitter: #1da1f2;
$dark-blue: #002453;

$black: #111820; //default black
$black-10: #e4e4e4;
$black-20: #cacbcc;
$black-30: #b0b1b4;
$black-40: #97999d;
$black-50: #7e8186;
$black-70: #50555b;
$black-80: #393f46;
$black-90: #252b33;


$alert-red: #f7323f; //default red

// ----- PMS COLOR CODES START HERE -----

// Text, icons, button and frontpage footer color
$PMS-655-C: #0a214f;
$default-text-color: #0a214f;


// ----- PMS COLOR CODES END HERE -----
$app-button-color: #0a82fa;