$font-family-base: "museo-sans",
Helvetica,
sans-serif;
$font-family-condensed: "museo-sans-condensed",
Helvetica,
sans-serif;

//$font-path: "/assets/fonts/MetricWeb-";
$font-size-base: 1.6rem;

$font-weight-base: 200;
$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;
$font-weight-2extra-bold: 900;

$h1-size: 4rem;
$h2-size: 3rem;
$h3-size: 2.5rem;
$h4-size: 2rem;
$h5-size: 1.6rem;