.color {
  &--gray {
    color: #9a9ec3;
  }

  &--ligth-gray {
    color: #9592ab;
  }

  &--purple {
    color: purple;
  }

  &--blue {
    color: #4d79fe;
  }

  &--orange {
    color: orange;
  }

  &--red {
    color: red;
  }

  &--white {
    color: white;
  }
}