.container {
  background-color: white;

  @include md() {
    &__width {
      &--small {
        width: 30%;
      }

      &--middel {
        width: 30%;
      }

      &--large {
        width: 40%;
      }
    }
  }

  @include lg() {
    margin: 0 8rem;

    &__width {
      &--small {
        width: 25%;
      }

      &--middel {
        width: 30%;
      }

      &--large {
        width: 45%;
      }
    }
  }
}
